* {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin: 25px 0;
}

button {
    height: 50px;
    width: 100px;
    margin: 0 auto;
}

.sketch-box {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    display: grid;
}

.sketch-box div{
    border: 1px solid black;
    background-color: lightgrey;
}


