* {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin: 25px 0;
}

button {
    height: 50px;
    width: 100px;
    margin: 0 auto;
}

#sketch-box {
    height: 550px;
    width: 550px;
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}


